.ant-input{
    width: 40%;
}

.messages {
    min-height: 30%;
}
#chat {
    width: 80% ;
    left: 10%;
    max-height: 80vmax;
    overflow-y:auto;
}

#chatbox {
    min-height: 40vmax;
    max-height: 40vmax;
    overflow-y:auto;
}

#filebox {
    width: 99%;
}

li {
    display:inline;
    margin: 3vh;
}